body {
    font-family: Arial;
    background-color:palevioletred;
}

#chatbox {
    width: 300px;
    height: 300px;
    border: 1px solid #c50808;
    padding: 10px;
    overflow-y: auto;
    background: rgb(204, 189, 195);
    text-align: center;
    text-shadow: #a57816;

}
#he{
    color: aqua;
   
}
